<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Login User
        </h5>

        <div class="form-floating mb-3">
            <input [(ngModel)]="userEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div>
            <button  routerLink="/forgotpassword" type="button" class="mb-3 btn btn-primary">Forgot Password?</button>
        </div>
        <button  (click)="signIn()" type="button" class="mb-3 btn btn-primary">Log In</button>
        <button (click)="googleAuth()" type="button" class="ms-3 mb-3 btn btn-primary">
            Login with Google
        </button>
    </div>
</div>

