<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            User Registration
        </h5>
        <!-- {{userEmail}} -->
        <div class="form-floating mb-3">
            <input [(ngModel)]="userEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
            <input [(ngModel)]="pass1"  type="password" class="form-control" id="Password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
            <input [(ngModel)]="pass2"  type="password" class="form-control" id="RePassword" placeholder="Password">
            <label for="floatingPassword">Agree Password</label>
        </div>
        <button [disabled]="validUser()" (click)="signUp()" type="button" class="btn btn-primary">Registration</button>
        
        <div>
        <button (click)="googleAuth()" type="button" class="btn btn-primary my-3">
            Contiune with Google
        </button>
        </div>
        <div class="my-3">
            <div>Alredy have an account?</div>
            <button routerLink="/signin" type="button" class="btn btn-primary">Log In</button>
        </div>
    
    </div>
</div>
