<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Reset Password
        </h5>
        <p class="card-text">
            Please enter your email to request password reset.
        </p>
        <!-- {{userEmail}} -->
        <div class="form-floating mb-3">
            <input [(ngModel)]="userEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>    
        <button [disabled]="validUser()" (click)="forgotPassword()" type="button" class="btn btn-primary">Registration</button>
        
     
        <div class="my-3">
            <div>Alredy have an account?</div>
            <button routerLink="/signin" type="button" class="btn btn-primary">Log In</button>
        </div>
    
    </div>
</div>
